.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.header {
  padding-inline-start: 0px;
  margin: 0px;
  gap: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

.bolded {
  font-weight: bold;
}

.title {
  text-decoration: none;
}

.title:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 0px 5px;
  position: relative;
  height: 32px;
  width: 32px;
}