.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.header {
  padding-inline-start: 0px;
  margin: 0px;
  gap: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

.bolded {
  font-weight: bold;
}

.title {
  text-decoration: none;
}

.title:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 0px 5px;
  position: relative;
  height: 32px;
  width: 32px;
}

.mini-search-container {
  display: flex;
  flex-direction: row;
}

.header-text-search-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 25px;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  margin-left: 15px;
}

.header-text-search {
  padding: 2px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  width: 85%;
}

.header-text-search:focus {
  outline: none;
}

.header-text-search-button {
  font-size: 16px;
  padding: 2px;
  transition: background-color 0.3s;
  border-radius: 25px;
  border: 0px;
  background-color: white;
  margin-left: 5px;
}

.header-text-cancel-button {
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  transition: background-color 0.3s;
  border-radius: 25px;
  border: 0px;
  background-color: white;
  margin-right: 5px;

}

.header-text-search-icon {
  margin-left: 5px;
}

.header-buscar-button {
  background-color: lightgray;
  border: 0;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    align-items: center;
  }

  .header-text-search-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 25px;
    width: 50%;
    max-width: 200px;
    min-width: 150px;
    margin-left: 15px;
  }
  .header-text-search {
    padding: 2px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    width: 75%;
  }
  .menu{
    display: none;
  }

  .avatar {
    border-radius: 50%;
    display: block;
    margin: 0px 0px;
    position: relative;
    height: 32px;
    width: 32px;
  }
}